.manage-spot-page {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.manage-spots-header {
    margin-bottom: -20px;
}

.manage-spots-title {
    width: fit-content;
    margin-left: 40px;
    margin-bottom: -5px;
}

.create-new-spot-button-ms {
    color: white;
    background-color: #ff5A5F;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-left: 40px;
}

.create-new-spot-button-ms:hover {
    box-shadow: 3px 3px 2px rgba(128, 128, 128, .3);
    transition: ease-in .15s;
}

.curr-user-spots {
    display: flex;
    flex-flow: row wrap;
    margin-left: 40px;
    margin-top: 40px;
}
