.sign-up-form {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100px;
}

.sign-up-input {
    margin-bottom: 10px;
    margin-left: 300px;
    width: 350px;
    background-color: rgb(197, 223, 254);
}

.sign-up-title {
    margin-left: 130px;
}

.submit-button-sign-up {
    width: 360px;
    height: 60px;
    color: white;
    margin-left: 370px;
    background-color: rgb(253, 93, 75);
}

.submit-button-sign-up:hover {
    box-shadow: 3px 3px 2px rgba(128, 128, 128, .3);
    transition: ease-in .15s;
}

.sign-up-errors {
    margin-left: 300px;
    width: 360px;
    color: red;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 5px;
    font-style: italic;
}

.demo-user-link-sign-up {
    text-decoration: underline;
    color: purple;
    margin: 10px auto 30px auto;
    width: fit-content;
}
