.create-review-mdl {
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 280px;
}

.post-review-btn {
    color: white;
    background-color: #ff5A5F;
    width: 150px;
    margin-top: 10px;
    padding: 0 0 3px 10px;
    height: 21px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
}

.post-review-btn:hover {
    box-shadow: 2px 2px 2px black;
    transition: ease-in .15s;
}

.new-review-text {
    width: 350px;
    height: 100px;
}

.star-empty {
    color: pink;
}

.star-filled {
    color: #ff5A5F;
}

.star-average-rating-input {
    display: flex;
}

.medium-big-star {
    margin-top: 10px;
    font-size: 30px;
}
