.spot-details-page {
    margin-left: 40px;
    margin-right: 40px;
}

.spot-images {
    display: flex;
}

.preview-image {
    height: 420px;
    width: 50%;
    object-fit: cover;
}

.extra-images {
    display: flex;
    /* box-sizing: border-box; */
    width: 50%;
    flex-flow: row wrap;
}

.extra-image {
    height: 200px;
    width: 47%;
    box-sizing: border-box;
    object-fit: cover;
    margin: 0 5px 0 5px;
}

.x-image-three, .x-image-four {
    margin-top: 15px;
}

.per-night-reserve {
    margin-top: 55px;
    font-size: 13px;
}

.reserve-box {
    display: flex;
    flex-flow: column;
    border: 2px solid black;
    border-radius: 10px;
    width: 400px;
    height: 180px;
    margin: 30px 0 0 30px;
    margin-bottom: 40px;
}

.spot-info-above-reserve {
    /* border: 2px solid green; */
    display: flex;
    height: fit-content;
    width: 450px;
}

.dolla-sign {
    margin: 50px -40px 0 20px;
}

.star-icon {
    margin: 55px 0 0 30px;
}

.price {
    font-size: 40px;
    margin: 30px 0 0 40px;
}

.avg-rating {
    margin-top: 51px;
}

.num-reviews {
    margin: 51px 8px 0 30px;
}

.reviews-word {
    margin-top: 51px;
}

.reserve-button {
    margin: 10px auto;
    height: 50px;
    width: 380px;
    border-radius: 15px;
    color: white;
    background-color: rgb(253, 93, 75);
}

.reserve-button:hover {
    box-shadow: 3px 3px 2px rgba(128, 128, 128, .3);
    transition: ease-in .15s;
}

.spot-details {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.big-big-star {
    font-size: 40px !important;
    margin-left: 0px;
    margin-top: 20px;
}

.top-pillow {
    margin-bottom: 25px;
}

.pillow {
    /* border: 2px solid green; */
    display: flex;
}

.avg-rating-larger {
    font-size: 40px;
    margin-top: 10px;
    height: fit-content;
    /* border: 2px solid blue; */
}

.number-reviews {
    font-size: 30px;
    padding-top: 10px;
    width: fit-content;
    margin: 10px 0 0 30px;
    /* border: 2px solid red; */
}

.post-your-review-btn {
    margin-left: 0;
    color: white;
    background-color: #ff5A5F;
    border-radius: 10px;
}

.post-your-review-btn:hover {
    box-shadow: 0px 4px 2px rgba(128, 128, 128, .3);
    transition: ease-in .15s;
}

@media screen and (max-width: 1000px) {
    .spot-images {
        display: block;
    }
    .preview-image {
        height: 420px;
        min-width: 100%;
    }
    .x-image-three, .x-image-two, .x-image-one, .x-image-four {
        box-sizing: border-box;
        width: 48%;
    }
    .extra-images {
        box-sizing: border-box;
        width: 100%;
    }
}
