.each-review {
    /* border: 1px solid red; */
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}


.review-author {
    /* border: 1px solid green; */
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.date-of-review {
    /* border: 1px solid blue; */
    margin-top: 0px;
    font-size: 12px;
    color: gray;
}
