.manage-bookings-div {
    margin-left: 40px;
}

.your-bookings-div {
    display: flex;
    border: 2px solid blue;
}

.booking-card {
    display: flex;
    flex-flow: column;
    width: 230px;
    margin-right: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: white;
    transition: transform .2s;
    border: 2px solid red;
}

.booking-card-image {
    height: 50%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.booking-spot-name {
    margin: 10px 0 5px 10px;
    /* border: 2px solid black; */
}

.booking-city-state {
    font-size: 12px;
    margin: 0px 0 10px 10px;
    /* border: 2px solid black; */
}
