.spot-card {
    display: flex;
    flex-flow: column;
    width: 24%;
    object-fit: cover;
}

.spot-image {
    height: 140px;
    border-radius: 15px;
}

.spot-name {
    font-weight: bold;
}

.spot-price {

}
