.spot-card {
    display: flex;
    flex-flow: column;
    width: 230px;
    margin-right: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: white;
    transition: transform .2s;
    border: 1px solid rgb(235, 235, 235);
}

.spot-card:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 12px 5px rgba(0,0,0,0.28);
    transition: ease-in .15s;
}

.spot-image {
    height: 155px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.spot-card-info {
    display: flex;
    flex-flow: column;
    margin-top: 13px;
    font-size: 12px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.spot-info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}

.spot-local {
    font-weight: bold;
    margin-left: 10px;
}

.spot-price {
    margin-left: 10px;
}

.rating-or-new {
    margin-right: 10px;
}

.update-button {
    margin-left: 10px;
    color: white;
    background-color: #ff5A5F;
    border-radius: 10px;
}

.update-button:hover {
    box-shadow: 3px 3px 2px rgba(128, 128, 128, .3);
    transition: ease-in .15s;
}

.update-delete-options {
    display: flex;
}
