.spot-card {
    display: flex;
    flex-flow: column;
    width: 24%;
}

.spot-image {
    /* min-height: 155px; */
    height: 155px;
    object-fit: cover;
    border-radius: 15px;
}

.spot-card-info {
    display: flex;
    flex-flow: column;
    margin-top: 13px;
}

.spot-info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}

.spot-name {
    font-weight: bold;
}
