.all-spots-page {
    height: 100vh;
}

.all-spots {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 30px auto;
    width: 98%;
    /* border: 2px solid green; */
}
