.new-spot-form {
    /* display: flex;
    flex-flow: column; */
    margin: 0 auto;
    width: 480px;
}

.form-title {
    height: fit-content;
}

.subtitle {
    font-style: italic;
    font-size: 18px;
}

.disclaim {
    font-size: 12px;
}

input {
    width: 460px;
    margin-bottom: 10px;
}

.form-info {
    display: flex;
    flex-flow: column;
}

.city-state-pair {
    display: flex;
}

.city-input {
    width: 270px;
}

.state-input {
    width: 165px;
}

.separating-comma {
    margin: 33px 10px 0 5px;
}

.lat-lng-pair {
    display: flex;
}

.lat-input {
    width: 190px;
}

.lng-input {
    width: 245px;
}
