.login-form {
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 30%;
}

.credential-input {
    margin-left: 70px;
    margin-bottom: 10px;
    width: 340px;
}

.password-input {
    margin-left: 70px;
    margin-bottom: 20px;
    width: 340px;
}

.login-errors {
    margin-left: 170px;
}

.log-in-button {
    width: 350px;
    height: 60px;
    align-self: center;
    color: white;
    background-color: rgb(253, 93, 75);
}

.log-in-button:hover {
    box-shadow: 3px 3px 2px rgba(128, 128, 128, .3);
    transition: ease-in .15s;
}

button {
    margin: 10px 70px;
}

.demo-user-link {
    margin-top: 10px;
    margin-bottom: 30px;
    text-decoration: underline;
    color: purple;
}
