.login-form {
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 30%;
}

.credential-input {
    margin: 10px 20px;
}

.password-input {
    margin: 0 20px;
}

.log-in {
    border: 3px solid green;
    align-self: center;
    color: blue;
}

button {
    margin: 10px 70px;
}

.demo-user-link {
    margin-bottom: 30px;
    text-decoration: underline;
    color: purple;
}
